@use "./variables.scss" as *;

@mixin var-to-rgba($var, $opacity) {
	background-color: color-mix(in srgb, var(#{$var}), transparent calc(100% - #{$opacity} * 100%));
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}

.logo {
	&hover {
		filter: drop-shadow(0 0 2em) var(--p-primary-color);
	}

	&.secondary {
		&:hover {
			filter: drop-shadow(0 0 2em var(--p-content-hover-background));
		}
	}
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;

	&.gap {
		gap: $spacing;
		&.large {
			gap: $viewSpacing;
		}
	}

	&.column {
		flex-direction: column;
	}

	&.wrap {
		flex-wrap: wrap;
	}

	&.between {
		justify-content: space-between;
	}

	&.start {
		justify-content: flex-start;
	}

	&.end {
		justify-content: flex-end;
	}

	&.align-start {
		align-items: flex-start;
	}

	&.align-end {
		align-items: flex-end;
	}

	&.align-baseline {
		align-items: baseline;
	}
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.text-center {
	text-align: center;
}

.margin {
	margin: $spacing;
	&.large {
		margin: $viewSpacing;
		&.zero {
			margin: $viewSpacing 0;
		}
	}
	&.zero {
		margin: $spacing 0;
	}
	&.small {
		margin: calc($spacing / 2);
		&.zero {
			margin: calc($spacing / 2) 0;
		}
	}

	&-no {
		&-margin {
			&-top {
				margin-top: 0;
			}
			&-bottom {
				margin-bottom: 0;
			}
			&-left {
				margin-left: 0;
			}
			&-right {
				margin-right: 0;
			}
		}

		&-padding {
			&-top {
				padding-top: 0;
			}
			&-bottom {
				padding-bottom: 0;
			}
			&-left {
				padding-left: 0;
			}
			&-right {
				padding-right: 0;
			}
		}
	}
}

.padding {
	padding: $spacing;
	&.large {
		padding: $viewSpacing;
	}
	&.zero {
		padding: $spacing 0;
	}
	&.small {
		padding: calc($spacing / 2);
	}
}

.pointer {
	cursor: pointer;
}

.generic-indicator {
	color: var(--p-gray-400) !important;
	// font-weight: 500;
	margin-right: 0.5rem;
}

.whisper-indicator {
	color: var(--p-fuchsia-400) !important;
}

.error-indicator {
	color: var(--p-red-400) !important;
	// font-weight: 500;
	margin-right: 0.5rem;
}

.system-indicator {
	color: var(--p-blue-400) !important;
	// font-weight: 500;
	margin-right: 0.5rem;
}
